@import "http://fonts.fontstorage.com/import/roboto.css";

html, body, .ember-view {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

a, a:hover {
    color: #fff;
}

.section-heading {
    font-weight: 300;
}

.navbar-dark {
    color: #fff;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.nav-link {
    cursor: pointer;
    transition: all .5s ease-out;
    color: #fff !important;
    border-bottom: 2px solid #343a40;
}

.nav-link:hover {
    border-bottom-color: #fff;
}

.big-image {
    background-image: url(/assets/images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100%;
    padding-top: 70px;
    padding-left: 150px;
    color: #fff;
    display: flex;
    align-items: center;
}

.btn {
    cursor: pointer;
}

.btn-outline-purple {
    border-color: #825287;
    color: #aa68a5;
    background-color: transparent;
}

.btn-outline-purple:hover {
    color: #fff;
    background-color: #825287;
}

.btn-outline-purple:focus {
    box-shadow: none;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #343a40;
    color: #fff;
    padding: 1rem 0.5rem;
}

.contacts {
    text-align: center;
}

@media (max-width: 768px) {
    .big-image {
        padding-left: 0;
        min-height: 80%;
    }
}
