<section class='big-image'>
    <div class='col-md-5'>
        <h1 class='display-4'>Fullstack разработчик</h1>
        <p>
            С 2015 года я разрабатываю веб-сайты и интернет приложения,
            создаю интернет-магазины, персональные страницы и лендинги.
            Каждый проект я сопровождаю от проектирования до выпуска, в том числе
            выполняя дизайн и верстку.
         </p>
    </div>
</section>
