<section class='big-image'>
    <div class='col-md-5'>
        <h1 class='display-4'>Fullstack разработчик</h1>
        <p>
            С 2015 года я разрабатываю веб-сайты и интернет приложения,
            создаю интернет-магазины, персональные страницы и лендинги.
            Каждый проект я сопровождаю от проектирования до выпуска, в том числе
            выполняя дизайн и верстку.
         </p>
    </div>
</section>
<footer class='footer container-fluid' id='contacts'>
    <div class='contacts col-md-6'>
        <h2 class='section-heading'>Контакты</h2>
        <div class='row'>
            <div class='col-md-4'>
                <a href='https://github.com/BugLight'>
                    <i class='fa fa-github'></i>
                    Github
                </a>
            </div>
            <div class='col-md-4'>
                <a>
                    <i class='fa fa-facebook-official'></i>
                    Facebook
                </a>
            </div>
            <div class='col-md-4'>
                <a>
                    <i class='fa fa-vk'></i>
                    VK
                </a>
            </div>
        </div>
    </div>
</footer>
